In [1]:
import pandas as pd
import numpy as np

In [3]:
s1=pd.Series([1,np.nan,5,np.nan,6],index=['A','B','C','D','E'])

In [4]:
s1

A    1.0
B    NaN
C    5.0
D    NaN
E    6.0
dtype: float64

In [6]:
s2=pd.Series([5,6,3,7,3],index=['A','B','C','D','E'])

In [7]:
s2

A    5
B    6
C    3
D    7
E    3
dtype: int64

In [9]:
pd.Series(np.where(pd.isnull(s1),s2,s1),index=s1.index)

A    5
B    6
C    3
D    7
E    3
dtype: int64

In [12]:
s1.combine_first(s2)

A    5
B    6
C    3
D    7
E    3
dtype: int64

In [19]:
df1=pd.DataFrame([1,5,np.nan,6,np.nan],columns=['data'])

In [20]:
df1

   data
0   1.0
1   5.0
2   NaN
3   6.0
4   NaN

In [18]:
df2=pd.DataFrame([1,5,np.nan,6,8,4],columns=['data'])

In [21]:
df2

   data
0   1.0
1   5.0
2   NaN
3   6.0
4   8.0
5   4.0

In [22]:
df1.combine_first(df2)

   data
0   1.0
1   5.0
2   NaN
3   6.0
4   8.0
5   4.0