In [1]:
import pandas as pd
import numpy as np

In [4]:
df1=pd.DataFrame({'key':['A']*2 +['B']*3,
                 'key2':[2,2,4,8,8]})

In [5]:
df1

  key  key2
0   A     2
1   A     2
2   B     4
3   B     8
4   B     8

In [17]:
df1.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [20]:
df1.drop_duplicates()

  key  key2
0   A     2
2   B     4
3   B     8

In [21]:
df1.drop_duplicates('key')

  key  key2
0   A     2
2   B     4

In [25]:
df1.drop_duplicates(['key'],take_last=True)

TypeError: drop_duplicates() got an unexpected keyword argument 'take_last'