In [1]:
import pandas as pd
import numpy as np

In [2]:
s1=pd.Series([53,656,34])

In [3]:
s1

0     53
1    656
2     34
dtype: int64

In [4]:
s2=pd.Series([23,34,56,76])
s2

0    23
1    34
2    56
3    76
dtype: int64

In [5]:
s3=pd.concat([s1,s2],keys=['s1','s2'])
s3

s1  0     53
    1    656
    2     34
s2  0     23
    1     34
    2     56
    3     76
dtype: int64

In [6]:
s3.unstack()

       0      1     2     3
s1  53.0  656.0  34.0   NaN
s2  23.0   34.0  56.0  76.0

In [7]:
s3.unstack().stack()

s1  0     53.0
    1    656.0
    2     34.0
s2  0     23.0
    1     34.0
    2     56.0
    3     76.0
dtype: float64

In [8]:
s3.unstack().stack(dropna=False)

s1  0     53.0
    1    656.0
    2     34.0
    3      NaN
s2  0     23.0
    1     34.0
    2     56.0
    3     76.0
dtype: float64

In [9]:
df1=pd.DataFrame(np.random.randn(9).reshape(3,3),
                index=pd.Index([1,2,3],name='index'),
                columns=pd.Index(['A','B','C'],name='COl'))

In [10]:
df1

COl           A         B         C
index
1      1.254348  0.363247 -0.076152
2     -1.184738 -1.053089  0.122473
3      0.689585  0.885785 -1.439602

In [11]:
df1.unstack()

COl  index
A    1        1.254348
     2       -1.184738
     3        0.689585
B    1        0.363247
     2       -1.053089
     3        0.885785
C    1       -0.076152
     2        0.122473
     3       -1.439602
dtype: float64

In [12]:
df1.unstack('index')

COl  index
A    1        1.254348
     2       -1.184738
     3        0.689585
B    1        0.363247
     2       -1.053089
     3        0.885785
C    1       -0.076152
     2        0.122473
     3       -1.439602
dtype: float64