In [1]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series(np.arange(10))

In [3]:
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [4]:
s.drop(4)

0    0
1    1
2    2
3    3
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [7]:
df=pd.DataFrame(np.arange(9).reshape((3,3)))

In [8]:
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [9]:
df.drop(1)

   0  1  2
0  0  1  2
2  6  7  8

In [10]:
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [12]:
df.drop(2,axis=1)

   0  1
0  0  1
1  3  4
2  6  7