In [26]:
import pandas as pd

import numpy as np

In [2]:
s=pd.Series(range(3),index=['C','A','B'])

In [3]:
s

C    0
A    1
B    2
dtype: int64

In [6]:
s.sort_index()

A    1
B    2
C    0
dtype: int64

In [39]:
s.sort_values()

C    0
A    1
B    2
dtype: int64

In [14]:
s1=pd.Series(np.random.randn(10))

In [15]:
s1

0    1.329453
1    0.676934
2    0.245698
3    0.071536
4    0.190795
5    0.796847
6   -0.457439
7   -0.988634
8    0.288386
9    1.672482
dtype: float64

In [44]:
s1.rank()

0     9.0
1     7.0
2     5.0
3     3.0
4     4.0
5     8.0
6     2.0
7     1.0
8     6.0
9    10.0
dtype: float64

In [42]:
s1.sort_values()

7   -0.988634
6   -0.457439
3    0.071536
4    0.190795
2    0.245698
8    0.288386
1    0.676934
5    0.796847
0    1.329453
9    1.672482
dtype: float64

In [43]:
s1.rank()

0     9.0
1     7.0
2     5.0
3     3.0
4     4.0
5     8.0
6     2.0
7     1.0
8     6.0
9    10.0
dtype: float64

In [32]:
df=pd.DataFrame(np.random.randn(20).reshape(4,5),columns=list('ABCDE'),index=['Kol','Del','Nk','Jal'])

In [33]:
df

            A         B         C         D         E
Kol  0.472109  1.342221  0.377024 -0.349382  0.647471
Del -1.875535  0.540188  0.779061 -0.485381  0.164202
Nk  -1.239276 -0.547166  0.160478 -0.753698 -0.131472
Jal -3.100650 -0.320411  0.914573  0.376784  1.030955

In [35]:
df.sort_index()

            A         B         C         D         E
Del -1.875535  0.540188  0.779061 -0.485381  0.164202
Jal -3.100650 -0.320411  0.914573  0.376784  1.030955
Kol  0.472109  1.342221  0.377024 -0.349382  0.647471
Nk  -1.239276 -0.547166  0.160478 -0.753698 -0.131472

In [47]:
df.sort_values(by='A')

            A         B         C         D         E
Jal -3.100650 -0.320411  0.914573  0.376784  1.030955
Del -1.875535  0.540188  0.779061 -0.485381  0.164202
Nk  -1.239276 -0.547166  0.160478 -0.753698 -0.131472
Kol  0.472109  1.342221  0.377024 -0.349382  0.647471

In [48]:
df.sort_values('E')

            A         B         C         D         E
Nk  -1.239276 -0.547166  0.160478 -0.753698 -0.131472
Del -1.875535  0.540188  0.779061 -0.485381  0.164202
Kol  0.472109  1.342221  0.377024 -0.349382  0.647471
Jal -3.100650 -0.320411  0.914573  0.376784  1.030955