In [3]:
import pandas as pd
import numpy as np

In [4]:
s=pd.Series([1,2,3,4],index=['a','b','c','d'])

In [5]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
s.reindex(['a','b','d','c'])

a    1
b    2
d    4
c    3
dtype: int64

In [13]:
s1=s.reindex(['a','b','d','c','e'])

In [14]:
s1

a    1.0
b    2.0
d    4.0
c    3.0
e    NaN
dtype: float64

In [15]:
s1.reindex(['a','b','d','c','e','f','g'],fill_value=0)

a    1.0
b    2.0
d    4.0
c    3.0
e    NaN
f    0.0
g    0.0
dtype: float64

In [16]:
s2=pd.Series(['USA','UK','RUsia'],index=[0,5,10])

In [17]:
s2

0       USA
5        UK
10    RUsia
dtype: object

In [18]:
s2.reindex(range(15),method='ffill')

0       USA
1       USA
2       USA
3       USA
4       USA
5        UK
6        UK
7        UK
8        UK
9        UK
10    RUsia
11    RUsia
12    RUsia
13    RUsia
14    RUsia
dtype: object

In [19]:
s2

0       USA
5        UK
10    RUsia
dtype: object

In [21]:
s2.reindex(range(15),method='bfill')

0       USA
1        UK
2        UK
3        UK
4        UK
5        UK
6     RUsia
7     RUsia
8     RUsia
9     RUsia
10    RUsia
11      NaN
12      NaN
13      NaN
14      NaN
dtype: object

In [39]:
df=pd.DataFrame(np.random.randn(25).reshape((5,5)),index=['a','b','c','d','e'],columns=['col1','col2','col3','col4','col5'])

In [40]:
df

       col1      col2      col3      col4      col5
a -0.832983 -1.820823  0.636145  1.120383  1.001933
b -1.765735 -0.899651 -0.471367 -1.226878  1.184037
c -0.343876  2.007132  0.178910 -0.119775 -0.708979
d -0.495014 -0.863331 -0.871088 -0.172353  1.345041
e -0.247099  0.023278 -0.521160  0.827198 -2.010632

In [42]:
df.reindex(['a','b','c','d','e','f'])

       col1      col2      col3      col4      col5
a -0.832983 -1.820823  0.636145  1.120383  1.001933
b -1.765735 -0.899651 -0.471367 -1.226878  1.184037
c -0.343876  2.007132  0.178910 -0.119775 -0.708979
d -0.495014 -0.863331 -0.871088 -0.172353  1.345041
e -0.247099  0.023278 -0.521160  0.827198 -2.010632
f  0.000000  0.000000  0.000000  0.000000  0.000000

In [43]:
df.reindex(['a','b','c','d','e','f'],fill_value=0)

       col1      col2      col3      col4      col5
a -0.832983 -1.820823  0.636145  1.120383  1.001933
b -1.765735 -0.899651 -0.471367 -1.226878  1.184037
c -0.343876  2.007132  0.178910 -0.119775 -0.708979
d -0.495014 -0.863331 -0.871088 -0.172353  1.345041
e -0.247099  0.023278 -0.521160  0.827198 -2.010632
f  0.000000  0.000000  0.000000  0.000000  0.000000

In [36]:
df.reindex(columns=['col1','col2','col3','col4','col5','col6'])

       col1      col2      col3      col4      col5  col6
a  2.540661  0.699055  0.392282 -0.073893  0.059543   NaN
b -0.427890 -0.483362 -0.708371 -1.411742  0.150137   NaN
c  2.252743  1.733160  0.359338  0.329606 -0.248397   NaN
d -0.576278  0.226601 -1.111400  0.138213 -1.647839   NaN
e  0.281478 -0.636566 -0.982262  1.121354  0.445853   NaN
f       NaN       NaN       NaN       NaN       NaN   NaN

In [28]:
df

       col1      col2      col3      col4      col5
a  2.540661  0.699055  0.392282 -0.073893  0.059543
b -0.427890 -0.483362 -0.708371 -1.411742  0.150137
c  2.252743  1.733160  0.359338  0.329606 -0.248397
d -0.576278  0.226601 -1.111400  0.138213 -1.647839
e  0.281478 -0.636566 -0.982262  1.121354  0.445853

In [33]:
df=df.reindex(['a','b','c','d','e','f'],['col1','col2','col3','col4','col5','col6'])

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Interpreting call
	'.reindex(a, b)' as
	'.reindex(index=a, columns=b)'.
Use named arguments to remove any ambiguity. In the future, using positional arguments for 'index' or 'columns' will raise a 'TypeError'.
  """Entry point for launching an IPython kernel.

In [34]:
df

       col1      col2      col3      col4      col5  col6
a  2.540661  0.699055  0.392282 -0.073893  0.059543   NaN
b -0.427890 -0.483362 -0.708371 -1.411742  0.150137   NaN
c  2.252743  1.733160  0.359338  0.329606 -0.248397   NaN
d -0.576278  0.226601 -1.111400  0.138213 -1.647839   NaN
e  0.281478 -0.636566 -0.982262  1.121354  0.445853   NaN
f       NaN       NaN       NaN       NaN       NaN   NaN