In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame([[1,2,np.nan],[4,6,8]],columns=['col1','col2','col3'],index=['A','B'])

In [5]:
df

   col1  col2  col3
A     1     2   NaN
B     4     6   8.0

In [6]:
df.sum()

col1    5.0
col2    8.0
col3    8.0
dtype: float64

In [7]:
df.sum(axis=1)

A     3.0
B    18.0
dtype: float64

In [8]:
df.max()

col1    4.0
col2    6.0
col3    8.0
dtype: float64

In [9]:
df.min()

col1    1.0
col2    2.0
col3    8.0
dtype: float64

In [10]:
df.idxmax()

col1    B
col2    B
col3    B
dtype: object

In [11]:
df.idxmin()

col1    A
col2    A
col3    B
dtype: object

In [24]:
df.cumsum()

   col1  col2  col3
A     1     2   NaN
B     5     8   8.0

In [14]:
df.describe()

          col1      col2  col3
count  2.00000  2.000000   1.0
mean   2.50000  4.000000   8.0
std    2.12132  2.828427   NaN
min    1.00000  2.000000   8.0
25%    1.75000  3.000000   8.0
50%    2.50000  4.000000   8.0
75%    3.25000  5.000000   8.0
max    4.00000  6.000000   8.0

In [17]:
s=pd.Series(['w','r','r','s','y','u','e','y','s','i'])

In [18]:
s

0    w
1    r
2    r
3    s
4    y
5    u
6    e
7    y
8    s
9    i
dtype: object

In [19]:
s.unique()

array(['w', 'r', 's', 'y', 'u', 'e', 'i'], dtype=object)

In [23]:
s.value_counts()

r    2
s    2
y    2
w    1
u    1
e    1
i    1
dtype: int64